@import url('../public/static/vars.css');

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.page-content>main {
    padding-bottom: 3em;
}

.page-content,
.page-content>main {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 35%), calc(var(--primary-l) + 35%));
}

.page-content>header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.page-content>footer {
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

.page-content>header,
.page-content>footer {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 25%), calc(var(--primary-l) - 5%));
}

.page-content>footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}