.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
}

.padded>* {
    padding: 8px 16px;
}

.layout.right.large {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    overflow-x: scroll;

    & .col {
        flex: 1 1 45%;
        min-width: 450px;

        & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    & .content.pad-med {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;

        & .controls {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
        }
    }

    & .equipment {
        flex: 1 1 100%;

        & .equipment-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

    }
}

.action {
    flex: 1 1 30%;
    border: none;
    padding: .5em 1em;
    margin: .25em .5em;
    text-decoration: none;
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover {
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
    cursor: pointer;
    color: white;
}