.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
}

.padded>* {
    padding: .5em 1em;
}

.layout.left.large {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    & .col.aligned {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;

        & label {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    & .content.pad-med.align-center.vertical {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & label {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            text-align: center;

            & textarea {
                min-height: 8em;
            }
        }
    }
}

.action {
    display: inline-block;
    border: none;
    padding: .5em 1em;
    margin: .25em .5em;
    text-decoration: none;
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover {
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
    cursor: pointer;
    color: white;
}

.error-box {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6f6f;
    padding: 1em;
    margin: 1em;
    background-color: hsl(var(--action-color), var(--action-s), 25%);
    box-shadow: var(--shadow);
}

.field-error {
    border: 1px solid #ff6f6f;
}