section {
    margin: 2em;
}

.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;

    & .col {
        flex: 1 1 50%;
    }

    & .content {
        flex: 1 1 50%;
        display: flex;
        gap: 2em;
        padding: .5em .5em;
        flex-direction: column;
        justify-content: space-between;

        & p {
            text-align: center;
        }
    }
}

h1 {
    font-size: 1.5em;
    padding: 1em;
}

h1,
header {
    background-color: hsl(var(--primary-color), var(--primary-s), var(--primary-l));
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
}

.img-med {
    display: block;
    max-width: 300px;
}

.align-center {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5em;
    align-items: center;
}

.action {
    flex: 1 1 20%;
    max-width: 30%;
    min-width: fit-content;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    padding: .5em 1em;
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover {
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
    cursor: pointer;
    color: white;
}