.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
}

.padded>* {
    padding: .5em 1em;
}

.align-center {
    text-align: center;
}

.layout {
    padding: 0;
}

.layout.left.large .content {
    margin-left: 400px;
}

.aligned {
    text-align: right;
    display: inline-block;
}

form label {
    display: block;
}

.aligned label>* {
    margin: 8px 16px;
}

main label input,
main label select {
    width: 200px;
}


.action {
    display: inline-block;
    border: none;
    padding: 8px 16px;
    margin: 4px 8px;
    text-decoration: none;
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover {
    border-radius: 10px;
    background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
    cursor: pointer;
    color: white;
}

.cta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/* ///////////////////////////////////////////// */
.spaced>* {
    margin: 2em 0;
}

.item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
}

.catalog {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    & li {
        flex: 1 1 30%;
        min-width: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        & header.pad-med {
            padding: .5em 1em;
        }

        & main.align-center {
            height: fit-content;
        }
    }
}

.catalog.cards h2 {
    height: 3.25em;
    font-size: 1.25em;
    text-align: center;
}

main>img {
    display: block;
    width: 100%;
    height: auto;
}

.catalog.cards footer {
    display: flex;
    padding: .5em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: hidden;

    & a {
        max-width: fit-content;
        border: none;
        padding: .5em 1em;
        text-decoration: none;
        border-radius: 10px;
        background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
        color: white;
    }

    & a:hover {
        border-radius: 10px;
        background-color: hsl(var(--action-color), var(--action-s), var(--action-l));
        cursor: pointer;
        color: white;
    }
}

footer {
    background-color: hsl(var(--primary-color), var(--primary-s), calc(var(--primary-l) - 5%));
    color: white;
}

.item.align-center {
    padding: 2em;
}