html {
    box-sizing: border-box;
    font: 14px "Helvetica", sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    padding: 2em 0;
}

header {

    .title>h1 {
        font-family: "Georgia", serif;
        font-weight: 400;
        color: #800080;
    }

    .title>p {
        font-size: .5em;
        letter-spacing: 0;
        line-height: 2;
        text-transform: uppercase;
        color: #444444;
    }

    nav>ul {
        list-style-type: none;
    }
}

main,
footer {
    h1 {
        font-family: "Georgia", serif;
        font-size: 1.7em;
        font-weight: 400;
    }
}

.our-team {
    background: repeating-linear-gradient(75deg,
            #FCFCFC,
            #FCFCFC 5px,
            #fff 5px,
            #fff 10px);
}

.testimonials {
    background: repeating-linear-gradient(135deg,
            #FCFCFC,
            #FCFCFC 10px,
            #fff 10px,
            #fff 20px);
}

footer {
    nav>ul {
        list-style-type: none;
    }
}