/* *, *::before, *::after {
    margin: 0;
    padding: 0;
} */

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
    padding: 3em;
}

article {
    max-width: 51em;
    display: inline-block;
}

ul {
    list-style-type: square
}

p {
    color: rgb(51, 51, 51);
}

img {
    width: 80%;
    display: block;
    height: auto;
}

aside {
    display: inline-block;
    /* vertical-align: top; */
    position: absolute;
}